extends base.pug

block scripts
  script(src='static/index.js')

block style 
 style 
    include ../static/style.css
    include ../static/about.css

block content 
    div.container
      div.content
        h1 Welcome to Rajan Dance Academy - Where Passion Meets Movement!
        br
        strong At Rajan Dance Academy,
        p we believe that dance is more than just an art form; it's a celebration of life, a medium to express emotions, and a path to discovering the essence of oneself. Our mission is to create a vibrant and inclusive dance community where individuals of all ages and backgrounds can come together to explore the beauty and joy of dance.
        br
        div.box 
          h3 Who We Are:
          p Led by a team of passionate and experienced dancers, Rajan Dance Academy is a dynamic platform dedicated to promoting the love and appreciation of various dance styles.Our collective vision is to spread the magic of dance across the globe, one step at a time.
          br 
        div.box
          h3 Dance Styles We Offer:
          p From the graceful elegance of ballet to the infectious rhythms of salsa, we offer a diverse range of dance styles to suit every interest. Whether you're drawn to the passion of tango, the energy of hip-hop, or the precision of contemporary, we have a class tailored just for you.
          br
        div.box
          h3 Performance Opportunities:
          p For those seeking to take their passion for dance to the next level, we offer exciting performance opportunities. Whether it's a local showcase or a grand stage production, our dance enthusiasts get the chance to shine in front of enthusiastic audiences and showcase their hard work and dedication.
          br
        div.box 
          h3 Join the RDA Family:
          p We're thrilled that you've found us, and we can't wait to be part of your dance journey. Whether you're looking to learn a new style, refine your techniques, or simply find joy in movement, we welcome you with open arms. Come join the Rajan Dance Academy family, and let's dance our way to a world of inspiration and self-expression.
          br
        div.box
          p Stay connected with us through instagram our insta gram link is https://instagram.com/_rajan_.108?utm_source=qr&igshid=NGExMmI2YTkyZg%3D%3D , and let's embark on this mesmerizing dance adventure together!
          br 
        h3 With rhythm and enthusiasm,
        br
        h1 The Rajan Dance Academy Team

