doctype html 
html
  head
    title Rajan Dance Academy
    block scripts
    block style 
  body
    nav#navbar
            ul
                div#logo
                    img(src="danceg.jpeg")
                    | RDA
                li #[a(href="/") Home]
                li #[a(href="/about") About]
                li #[a(href="/services") Services]
                li #[a(href="/classinfo") Class Info]
                li #[a(href="/contact") Contact Us]
    block content
    footer#footer
     copywrite © 2023 RajanDanceAcademy.com | All rights reserved
