extends base.pug

block scripts
  script(src='static/index.js')

block style 
 style 
    include ../static/style.css
    include ../static/classinfo.css
    
block content 
  div.container 
    div.content
      h1 Welcome to Rajan Dance Academy - Where Passion Meets Movement!
      h1 Dance Classes
      p We offer a wide range of dance classes for all ages and skill levels. Our experienced and passionate instructors are dedicated to providing a fun and enriching dance experience for everyone. Whether you're a beginner or an advanced dancer, we have a class that suits your interests and goals. Take a look at our class offerings below:
        div.box 
          h3 1. Ballet
          h4 Description: 
          p Ballet is a classical dance form that focuses on precise movements, grace, and technique. This foundational dance style helps improve posture, flexibility, and strength.
          strong Instructor: Amrish Verma 
          strong Schedule: Monday 8:00am to 10:00am and Thursday 8:00am to 10:00am.
          br
        div.box 
          h3 2. Jazz
          h4 Description: 
          p Jazz dance is a high-energy and dynamic style that combines elements of ballet, modern, and African dance. It focuses on rhythmic patterns, syncopation, and expression.
          strong Instructor: Vivek Jha
          strong Schedule: Tuesday 8:00am to 10:00am and Friday 8:00am to 10:00am.
          br
        div.box 
          h3 3. Contemporary
          h4 Description:
          p Contemporary dance is a fusion of various dance styles, emphasizing fluidity, emotional expression, and improvisation. It encourages dancers to explore their creativity.
          strong Instructor: Anubhav Maurya
          strong Schedule: Wednesday 8:00am to 10:00am and Saturday 8:00am to 10:00am.
          br
        div.box 
          h3 4. Hip-Hop
          h4 Description:
          p Hip-Hop dance is characterized by its street style, fast movements, and attitude. It incorporates various urban dance elements and is perfect for those who love to groove.
          strong Instructor: Prayush Dwivedi
          strong Schedule: Monday 6:00am to 8:00am and Thursday 6:00am to 8:00am.
          br
        div.box 
          h3 5. Tap
          h4 Description:
          p Tap dance is a rhythmic dance form where dancers use special shoes to create intricate sounds and rhythms. It's a joyful and energetic style of dance.
          strong Instructor: Roshan singh 
          strong Schedule: Tuesday 8:00am to 10:00am and Friday 6:00am to 8:00am.
          br
        div.box 
          h3 6. Latin Dance
          h4 Description:
          p Latin dance encompasses various styles like Salsa, Bachata, and Merengue. These partner dances are known for their vibrant music and energetic movements.
          strong Instructor: Vinay chintam 
          strong Schedule: Wednesday 6:00am to 8:00am and Saturday 6:00am to 8:00am.
          br
        div.box 
          h3 7. Kids' Creative Movement
          h4 Description:
          p This class is designed for young children to explore movement, rhythm, and coordination in a playful and supportive environment.
          strong Instructor: Shiva 
          strong Schedule: Monday 10:00am to 12:00am and thursday 4:00am to 6:00am.
          br
        div.box 
          h3 8. Adult Fitness Dance
          h4 Description:
          p Our fitness dance class is a fun and engaging way for adults to stay active while learning dance routines to popular music.
          strong Instructor: Rajan kannaujiya
          strong Schedule: Tuesday 10:00am to 12:00am and Friday 4:00am to 6:00am
          br
      h2 With rhythm and enthusiasm,
      br
      h1 The Rajan Dance Academy Team
      
